<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.pregnantEat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>pregnantEat</name>
    <description>pregnantEat</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="http://localhost:9000" />
    <allow-intent href="http://localhost:9400" />
    <allow-navigation href="http://192.168.0.101:9400" />
    <allow-navigation href="about:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/images/ldpi.png" desity="ldpi" />
        <icon src="res/images/mdpi.png" desity="mdpi" />
        <icon src="res/images/hdpi.png" desity="hdpi" />
        <icon src="res/images/xhdpi.png" desity="xhdpi" />
        <icon src="res/images/xxhdpi.png" desity="xxhdpi" />
        <icon src="res/images/xxxhdpi.png" desity="xxxhdpi" />
</platform>
</widget>
